body {
  overflow-x: hidden;
  font-family: cursive;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.logo1 {
  margin-top: 0px;
  width: 100%; 
  max-width: 800px; 
  height: auto;
}

.logout-btn {
  font-family: cursive;
  background-color: rgb(33, 33, 193);
  width: 150px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.logout-btn:hover {
  background-color: rgb(25, 25, 152);
}

.navbar {
  background-color: rgb(105, 115, 150);
  width: 90%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 20px;
  flex-wrap: wrap;
}

.navbar a {
  width: 150px;
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(255, 255, 255);
}

.navbar a:active {
  background-color: rgb(255, 255, 255);
}

.main-content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

.footer {
  background-color: #ffffff28;
  color: white;
  width: 100%;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}

.footer p {
  margin: 0;
}

@media (max-width: 768px) {
  .logo1 {
    width: 70%;
    margin-top: 10%;
  }

  .navbar {
    width: 90%;  
    
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin: 0 auto;
  }

  .navbar a {
    width: 100%; 
    text-align: center;
    padding: 8px 0;
  }

  .logout-btn {
    width: 80px;
    right: 5%;
  }
}